<a href="https://colab.research.google.com/github/Roy920211/introduction-to-computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a=range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [4]:
b=range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [6]:
c=range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [7]:
d=range(3,8,2)
print(list(d))

[3, 5, 7]

In [9]:
e=range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [22]:
f=range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
g=range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
h=range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [18]:
i=range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [3]:
j=range(10)
print(j)
print(list(j))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
for n in range(3):
  print(n,end=",")

0,1,2,

In [21]:
for n in range(10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [30]:
test=int(input("請輸入一個正整數:"))
for m in range(1,test+1):
  print(m,end=" ")

請輸入一個正整數:10
1 2 3 4 5 6 7 8 9 10

In [31]:
test=int(input("請輸入一個正整數"))
for m in range(1,test+1,2):
  print(m,end=" ")

請輸入一個正整數10
1 3 5 7 9

In [57]:
sum=0
for n in range(3):
  sum=sum+n
print(sum)

3

In [5]:
test=int(input("請輸入一個正整數:"))
sum=0
for n in range(1,test+1):
  sum=sum+n
print("1到",n,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [10]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(test+1):
  sum = sum+n
  print("1到",n,"的整數和為",sum,"\t", sep = "", end = "")
  print()

請輸入一個正整數:10
1到0的整數和為0
1到1的整數和為1
1到2的整數和為3
1到3的整數和為6
1到4的整數和為10
1到5的整數和為15
1到6的整數和為21
1到7的整數和為28
1到8的整數和為36
1到9的整數和為45
1到10的整數和為55